# NextAuth configuration
# Use `npx auth secret` or `openssl rand -base64 32` to generate a secret
AUTH_SECRET=
AUTH_TRUST_HOST=true
# AUTH_URL=http://localhost:3000

# Strava
AUTH_STRAVA_ID=
AUTH_STRAVA_SECRET=

# Google
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

# Apple
AUTH_APPLE_ID=
AUTH_APPLE_SECRET=
# For Apple, you also need:
# AUTH_APPLE_TEAM_ID=
# AUTH_APPLE_KEY_ID=
# AUTH_APPLE_PRIVATE_KEY=
